<div class="container">
    <div  class="row">
          <mat-toolbar color="primary" >    
            <span>Registra Empleado</span>    
          </mat-toolbar>  
    </div>
    <div  class="row">
            <mat-form-field class="col-md-4">
              <mat-label>Nombre</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.nombres" >
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input  matInput [(ngModel)] ="objModalidad.fechaNacimiento">
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="objModalidad.estado!.idConcurso">
                <mat-option value="-1">[Seleccione]</mat-option>
                <ng-container *ngFor="let x of lstConcursos">
                  <mat-option [value]="x.idConcurso">{{x.estado}}</mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            
     </div>   
     <div  class="row">
        <mat-form-field class="col-md-4">
            <mat-label>Fecha de Registro</mat-label>
            <input  matInput [(ngModel)] ="objModalidad.fechaRegistro">
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <mat-label>Pais</mat-label>
            <mat-select [(ngModel)] ="objModalidad.pais!.idPais">
              <mat-option value="-1"> [Seleccione] </mat-option>
              <ng-container *ngFor="let x of lstPaises">
                <mat-option value="{{x.idPais}}">{{x.nombre}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field> 
     </div>
     <div  class="row">     
            
      </div>           
      <div  class="row">
            <button mat-raised-button type="submit" color="primary" (click)="inserta()" >Registra</button>
      </div>
</div>